body {
    --bs-body-bg: rgb(248, 248, 248);
}

.general-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    display: flex;
}

.nav-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #465b99;
}

.navbar-sections {
    background-color: #465b99;
    width: 180px;
}

.container-questions {
    height: 500px;
    width: 800px;
    --bs-border-color: white;
    background-color: white;
}

.question {
    text-align: center;
    line-height: 1.2em;
    height: calc(1.2em * 2);
    margin-top: 30px;
    margin-bottom: 40px;
}

div > .answer {
    text-align: start;
    display: flex;
    align-items: center;
    gap: 20px;
}

div > .answer:hover {
    border: 1px solid black;
}

div > .answer:disabled {
    border-color: transparent;
    opacity: 1;
}

.alphabet-answer {
    height: 40px;
    width: 40px;
    background-color: #8f8e8e;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.v-hidden {
    visibility: hidden;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    text-align: center;
}

.start-btn-cont {
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.start-btn-cont > button {
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ff811f;
    color: white;
    padding: 5px 30px;
}

.question-page {
    height: 100%;
}

.next-btn-cont {
    position: absolute;
    top: 80%;
}

.nav-arrow-container {
    margin-top: 40px;
}

.nav-arrow-container > button {
    border-radius: 100%;
    background-color: #b5c0e2;
    height: 30px;
    width: 30px;
    border: 0;
    color: #465b99;
}

.btn-nav {
    background-color: #465b99;
    width: 100%;
    border: transparent;
    color: rgba(255, 255, 255, 0.6) !important;
    margin-bottom: 20px;
}

.btn-nav-active {
    border-left: 4px solid white;
    color: rgba(255, 255, 255, 1) !important;
}

.endscreen {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.endscreen-img {
    height: 15%;
    width: 15%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.endscreen > h2 {
    margin-top: 10px;
    margin-bottom: 50px;
}

.score {
    margin-bottom: 50px;
}

.btn-share {
    width: 180px;
}

.btn-replay {
    width: 180px;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.nav-img {
    margin: 20px;
}
