body {
    --bs-body-bg: rgb(248, 248, 248);
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    display: flex;
}

.nav-container-outer {
    height: 500px;
    display: flex;
}

.nav-container-inner {
    display: flex;
    flex-direction: column;
    background-color: #465b99;
}

.navbar {
    background-color: #465b99;
}

.container-questions {
    height: 500px;
    width: 800px;
    --bs-border-color: white;
    background-color: white;
}

.question {
    text-align: center;
    padding: 50px;
}

div > .answer {
    text-align: start;
    display: flex;
    align-items: center;
    gap: 10px;
}

.alphabet-answer {
    height: 40px;
    width: 40px;
    background-color: #8f8e8e;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    text-align: center;
}

.start-btn-cont {
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.start-btn-cont > button {
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 40px;
    width: 150px;
    background-color: #ff811f;
    color: white;
}

.question-page {
    height: 100%;
}

.next-btn-cont {
    position: absolute;
    top: 80%;
}

.nav-arrow-container {
    margin-top: 40px;
}

.nav-arrow-container > button {
    border-radius: 100%;
    background-color: #b5c0e2;
    height: 30px;
    width: 30px;
    border: 0;
    color: #465b99;
}
